{% extends 'blog/base.html' %}

{% block title %}Crear Post{% endblock title %}

{% block navbar %}
<!-- bloque vacío para que no se renderice -->
{% endblock navbar %}

{% block content %}
<div class="create-form-container">
    <h2>Crear nuevo Post</h2>
    <form method="post">
        {% csrf_token %}
        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Texto:</label>
        <textarea name="texto" rows="5" required></textarea>

        <button type="submit">Crear</button>
    </form>
    <a href="{% url 'manager' %}" class="btn-volver">← Volver al Panel</a>
</div>
{% endblock content %}